# Django secret key. Make sure to replace this with a random string!
SECRET_KEY=''

# Defaults to False if not set.
DEBUG='true'

# Defaults to 'redis://'
# REDIS_URL=''

# Setup for Open Humans OAuth2.
OPENHUMANS_CLIENT_ID='replaceme'
OPENHUMANS_CLIENT_SECRET='replaceme'
