<p>
    <a href="https:www.fitbit.com">Fitbit</a> is a manufacturer of activity tracking
    and other wellness devices. Depending on the device you use, this may include:
    steps, heartrate, sleep tracking, weight, and/or body fat composition.
    This website can be used to retrieve and store detailed "intraday" data in
    your Open Humans account, in an ongoing manner. Once you add this data to
    Open Humans, you can choose to share or explore it!
</p>

<p>
    Check out <a href="https://www.openhumans.org/fitbit-intraday">this project's activity page</a>
    to see how notebooks, projects, and members are using & sharing this data.
    (Once connected, you can also find your data on this page!)
</p>

<p>
    For a simpler process and/or less detailed data: our
    <a href="https:fitbit.openhumans.org">standand Fitbit connection</a>
    can be used to retrieve and store daily Fitbit data.
</p>

<p>
    This site is managed by
    <a href="https://www.openhumans.org">Open Humans</a> and follows the same
    <a href="https://www.openhumans.org/terms">terms of use</a>.
    Data stored in Open Humans is private by default: it's your personal archive
    and always available to you, and you choose when to share with others.
</p>